.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://img.freepik.com/vetores-gratis/despertador-tempo-desenho-desenho-de-ilustracao-vetorial_24877-21513.jpg');

  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 250px;
  height: 400px;

  padding: 50px;

  backdrop-filter: blur(3px);
  background-color: rgb(128, 0, 0, 0.6);

  border-radius: 40px;
  box-shadow: 0 0 20px black;
}

.campo {
  margin: 10px 0;
  font-size: 18px;
  color: antiquewhite;
  font-family: 'Ubuntu', sans-serif;
}

.btn {
  margin-bottom: 20px;
}