button {
	display: flex;
	align-items: center;
	justify-content: center;

	max-width: 250px;
	max-height: 50px;

	border: none;
	padding: 20px 40px;
	border-radius: 10px;

	cursor: pointer;
	color: rgb(231, 224, 224);
	background: rgb(167, 35, 35);

	font-size: large;
	font-weight: bold;
}

button:hover {
	background: rgb(110, 15, 15);
}