.background-register {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('https://img.freepik.com/vetores-gratis/despertador-tempo-desenho-desenho-de-ilustracao-vetorial_24877-21513.jpg');

	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.form-register {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 18%;
	height: 60%;

	padding: 50px;

	backdrop-filter: blur(3px);
	background-color: rgba(154, 21, 21, 0.75);

	border-radius: 40px;
	box-shadow: 0 0 20px black;
}

.campo {
	margin: 10px 0;
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	width: 100%;
	padding: 10px;
	border: 1px solid rgb(81, 0, 0);
	border-radius: 4px;
	box-sizing: content-box;
}

.btn {
	margin-block: 20px;
	background-color: rgb(81, 0, 0);
}

.text-register,
.register-title {
	margin-bottom: 30px;
	font-weight: bold;
}

.text-register {
	font-size: 16px;
	margin-top: 10px;
}