.conteiner-create-tarefas {
	width: 80%;
	height: 18%;

	margin-block: 20px;
	padding: 10px 10px 40px 10px;

	backdrop-filter: blur(3px);
	background-color: rgba(200, 50, 50, 0.5);

	border-radius: 20px;
	box-shadow: 0 0 20px black;

	display: flex;
	flex-direction: column;
}

.chamada-create-tarefas {
	align-self: center;
}

.div-create-categories {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.text {
	font-size: 12px;
	color: rgba(255, 235, 235, 0.651);
}

.form-tarefas {
	display: flex;
	flex-direction: row;

	align-items: stretch;
	justify-content: space-around;

	margin-block: 10px;
}

.description {
	width: 400px;
}

.btn-task {
	font-size: 12px;
	padding: 15px 20px;
	color: aliceblue;
}