@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root {
  --dark-grey: #727272;
  --light-grey: #f1eeee;
  --title: #333333;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
}