.container-error {
	height: 100%;

	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	background-image: url(../../assets/engrenagens.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.status-error {
	color: rgb(126, 7, 7);
	font-size: 200px;
	font-weight: bold;
}

.message-error {
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
	margin-block: 10px;
}

.p-error {
	font-size: 20px;
}